<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691730213458-5vueksk1b4d18k9pflfudns7g3uvmov7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691730213458-5vueksk1b4d18k9pflfudns7g3uvmov7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-XNlD7BVd0FCu6y6TijeeGYfzQ8TXZkY</string>
	<key>GCM_SENDER_ID</key>
	<string>691730213458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharethegood.sharethegood</string>
	<key>PROJECT_ID</key>
	<string>share-the-good</string>
	<key>STORAGE_BUCKET</key>
	<string>share-the-good.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691730213458:ios:9dfef02f3994ad3c790d8b</string>
</dict>
</plist>